_site
.sass-cache
Gemfile.lock
*.gem
*~
*.zip
x
xx
/nbproject
docs/.jekyll-cache/
docs/.jekyll-metadata
*.psd
Images/psd/

bin/
.debris/
docs/assets/img/logo.ORG.png
nohup.out
*.ORG
Latest/THOLONIA_THE_BOOK.pdf 
Latest/THOLONIA_THE_BOOK.epub
Latest/THOLONIA_THE_BOOK.html
Latest/THOLONIA_THE_BOOK_* 
Latest/proof_1.21.8.mobi
Latest/THOLONIA_THE_BOOK.txt
Latest/ICHING.pdf 
Latest/ICHING.epub
Latest/ICHING.html
Latest/ICHING_* 
Latest/*.mobi
Latest/ICHING.txt
/.jekyll-metadata 
/.jekyll-cache
docs/.rubocop.yml
docs/.travis.yml
The-Life-of-Ideas.md
self-similar.md
Latest/THOLONIA_THE_BOOK_print-only.pdf
tmp.txt
6.69x9.61_Front-Back.jpg
Latest/TholoniaDownloadable_Proof.pdf
*Thumbs*
safe
github.user.css.2
Images/jpg/
Images/out/
Images/tmp.sh
test
DEADJOE
log
LatestX
Styles/test.css
proof*

Images/video/
metadata.yaml.bak
mindfields/

ICHING.pdf
code/pyc/
Latest/PROOF_2.8.6.pdf
code/hex_builder/venv/
code/tholonia/


Latest/ICHING~betaWIP.epub
Latest/ICHING~betaWIP.html
Latest/ICHING~betaWIP.pdf
Latest/Pattern.pdf
Latest/tmp.pdf
code/helix
code/hex_builder
ref/
archive/
Images-bak/
Latest/_store.txt
	Latest/letter.md
	Latest/pre
.~*
code/BTCUSDT_v2.xls
code/BTCUSDT_v3.xls
code/BTCUSDT_v4.xls
code/BTCUSDT_v4.xlsx
code/Binance_BTCUSDT_1h.xls
code/compressible.xlsx
code/market/
code/ss*
docs/*

Images/dropped/
Images/Untitled-1.png
Images/i6.69x9.61_Front-Only.png
Latest/TholoniaDownloadable_Proof.PDF
Styles/.Rhistory
Styles/github.user.css.FIXING
Styles/h456.css
Styles/print-only.css

chapters/*.pdf
chapters/arch
*/archive
x*
test*




.idea/
*temp*
beta/
chapters/.arch/
chapters/.body/
chapters/.html/
chapters/.parts/
*SAFE
*WORKING
*.1
Styles/common_book_header.css
chapters/THOLONIA_THE_BOOK.md


Styles/epub_dev.css
Styles/epub_dev_header.css
Styles/epub_prod.css
Styles/epub_prod_header.css
Styles/tholonia.epub3
*.bak
chapters/THOLONIA_THE_BOOK*

Images/publish
Styles/common_book_prod.css
Styles/common_book_prod_header.css
*.mobi
chapters/.epub
code/pi/

code/hexani/CACTUS*
code/hexani/NEURON*
code/hexani/SIMPLE*
code/hexani/NULL
code/hexani/V3*
code/hexani/previous
code/hexani/colordata/
code/hexani/__pycache__
Latest


code/hexani/A_FINAL/
code/hexani/GALLERY/

archive
.directory



__pycache__
Images/
PUSH
chapters/INDEX.html
chapters/tmp/
code/
images

INIT
DD

Thumbs*
Images/index/
Images/chap/
*sql

