/* .page{ width: 612px; height: 792px; border: 0px solid black; margin: 20px; position: relative; } */
.page{ width: 7in; height: 10in; border: 2px solid black; margin: 20px; position: relative; }
.page .content .column{ text-align:justify; font-size: 10pt; }
.page .content .column blockquote{ border-left: 2px solid #999999; background: #DEDEDE; padding: 10px; margin: 4px 20px; clear: both; }
.page .content .column img{ float: left; margin: 10px; }
.page .content .column p{ padding: 0 10px; margin: 10px 0; }
.page .content .column h1{ padding: 0 10px; }
.page .header{ text-align: center; font-size: 18pt; font-family: helvetica, arial; padding: 20px 0 0; }
.page .header hr, .page .footer hr{ width: 400px; }
.page .footer{ text-align: center; }
.page .footer span{ position: absolute; bottom: 10px; right: 10px; }
#page_template{ display: none; }

.enclosure {border:1px dashed black}

.first {
    width: 45%;
    float: left;
    margin-left: 5%;
}

.last {
    width: 45%;
    float: left;
    /* background-color: burlywood; */
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
}


.desc {
  color: #000000;
  font-weight: 600;
}
.heading {
  color: #000000;
  font-weight: 600;
  font-size: 10pt;
  height: 13px;
  padding-top: 4px;
  margin-bottom: 6px;
}
.line {
  margin-left: 10px;
  padding-bottom: 2px;
  border-left: black;
  /* height: 14px; */
  border-left: 3px solid lightgray;
  display: flex;
}
.word {
  /* background-color: blue; */
  width:fit-content;
  float:left;
  /* background-color:red; */
  font-size: 10pt;
  margin-left: 6px;
}

  /* color: black;
/* } */
.pages {
  /* background-color: green; */
  width: fit-content;
  /* background-color: green; */
  font-size: 8pt;
  margin-left: 12px;
  padding-top: 1px;
  line-height: 9pt;
}
  /* color: #5b5b5b;
} */
.chapter {
  color: #000000;
  padding-top: 12px;
  margin-bottom: 3px;
  font-size: 18pt;
}

.lbox {
  margin-left: 0px;
  /* border:1px solid green; */
}
.hbox {
  /* border:1px solid red; */
  margin-left: 16px;
}
